.home-container {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;    
    width: 1300px;
    margin: 50px auto;
    height: 80%;  
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}  
.button {
    color: #e6e6e6;
    background-color: #f30a57;
    border: none;
    font-size: 26px;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    text-align: center;
    display: block;
    padding: 7px 0;
    margin: 10px auto;
}

.button:hover:enabled {
    background-color: #f30a57;
    color: #fff;
    text-decoration: none;
}
.button:active {
    transform: translateY(1px);
}